.cart-summary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 24px;
  margin-bottom: 24px;
}

.order-total-value {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  color: #171f46;
  margin-bottom: 8px;
}

.order-total-label {
  font-weight: 700;
}

.total-items {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
  margin-top: 0px;
  margin-bottom: 16px;
}

.checkout-button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #0b69ff;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cart-summary-container {
    align-items: center;
  }

  .order-total-value {
    font-size: 18px;
  }
}
